body {
    display: flex;
    flex-direction: column;
    background: url(images/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: verdana, sans-serif;
    text-align: center;
}

header {
    background: #ffffff61;
    text-align: center;
    margin-bottom: 40px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 50px;
    border-radius: 50px;
}

h1 {
    font-family: WindSong, cursive;
    font-size: 50px;
    color: #2aa0a9;
    font-weight: bold;
}

h1 img {
    height: 100px;
}

.scoreboard {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #17575b;
}

.timer {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #17575b;
}

.game-over {
    margin: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #17575b;
    display: none;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 90vw;
    max-height: 60vh;
    width: 600px;
    height: 600px;
    gap: clamp(20px, 5vw, 80px);
    justify-content: center;
    margin: 20px auto;
    cursor: url(images/hammer2.png) 25 70, pointer;
}

.hole {
    width: 100%;
    height: 150%;
    min-width: 80px;
    min-height: 80px;
    position: relative;
    overflow: hidden;
}

.hole-back {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 18%;
    background: black;
    border-radius: 50%;
    z-index: 1;
}

.rabbit {
    width: 65%;
    height: 95%;
    position: absolute;
    bottom: -100%;
    left: 15%;
    transition: bottom 0.3s;
    z-index: 2;
    cursor: inherit;
    font-size: clamp(40px, 8vw, 80px);
}

.rabbit img {
    height: 110px;
}

.hole-front {
    width: 100%;
    height: 14%;
    background: black;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
}

#startButton {
    display: block;
    margin: 0 auto;
    background: #2aa0a9;
    color: #f0f0f0;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width: 200px;
    height: 80px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

#startButton:hover {
    box-shadow: 0 0 10px rgb(161, 249, 202);
    text-shadow: 2px 2px 10px rgb(161, 249, 202);
}

#startButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

footer {
    margin-top: 60px;
    color: #17575b;
}